.digit-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.digit {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digit-hidden {
  visibility: hidden;
}

.digit-next {
  top: -100;
  clip: rect(100px, 100px, 100px, 0);
}

.digit-current {
  top: 0;
  clip: rect(0, 100px, 100px, 0);
}

.digit-previous {
  top: 100;
  clip: rect(0px, 100px, 0px, 0);
}

.digit-next, .digit-current, .digit-previous {
  border-left-style: dashed;
  border-right-style: dashed;
  background-image: linear-gradient(#d87ee0, #c8c8c8 20%, white 50%, #c8c8c8 80%, #d87ee0 100%);
  border-width: 5px;
  transition: top 0.25s linear, clip 0.25s linear;
  font-size: 5rem;
  font-weight: bold;
  color: #541654;
}