.digit-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.digit {
  position: absolute;
  font-size: 3rem;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digit-hidden {
  visibility: hidden;
}

.digit-next {
  top: -100;
  clip: rect(100px, 100px, 100px, 0);
}

.digit-current {
  top: 0;
  clip: rect(0, 100px, 100px, 0);
}

.digit-previous {
  top: 100;
  clip: rect(0px, 100px, 0px, 0);
}

.digit-next, .digit-current, .digit-previous {
  transition: top 0.075s linear, clip 0.075s linear;
}