#next-tetrominos-container {
  box-sizing: border-box;
  background-color: black;
  border-radius: 15px;
  transition-property: width, height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  position: relative;
}

.next-tetromino {
  position: absolute;
  transition-property: left;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}