#grid-container {
  position: relative;
  background-color: black;
  border-style: none double double;
  border-color: white;
  border-width: 5px;
}

.game-piece {
  position: absolute;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

.tetromino-o {
  background-image: repeating-linear-gradient(45deg, #00cf00, #00cf00 7px, #00ff00 7px, #00ff00 14px, #afffaf 14px, #afffaf 21px);
  border: 1px solid #2faf2f;
}

.tetromino-s {
  background-image: radial-gradient(#00cfcf, #00ffff 90%);
  border: 1px solid #00cf00;
}

.tetromino-z {
  background-image: radial-gradient(#cf0000, #ff3f00 90%);
  border: 1px solid #af7f2f;
}

.tetromino-t {
  background-image: repeating-linear-gradient(45deg, #3f00cf, #3f00cf 7px, #7f1fff 7px, #7f1fff 14px, #ff00ff 14px, #ff00ff 21px);
  border: 1px solid #2f00af;
}

.tetromino-l {
  background-image: radial-gradient(#00cfcf, #1f1fff);
  border: 1px dashed #cfcfff;
}

.tetromino-j {
  background-image: radial-gradient(#ffcfff, #ffcfff 35%, #ff00ff 35%);
  border: 1px solid #ff7fff;
}

.tetromino-i {
  background-image: linear-gradient(135deg, #ffff00, #ffff00 65%, #ffaf3f);
  border: 1px solid #ff7f00;
}

@keyframes bomberguy {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}